* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.other a {
    margin-left: 10px;
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    background-color: #ff7f47;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.other a:hover {
    background-color: #313131;
}
.hero {
    width: 100%;
    padding-bottom: 300px;
}
.slider,
.slider .container {
    position: relative;
    width: 100%;
    height: 100vh;
}
.slide {
    position: absolute;
    height: 0;
    inset: 0;
    overflow: hidden;
    visibility: hidden;
}
.slide.active {
    visibility: visible;
    height: 100%;
}
.slide .info {
    position: absolute;
    top: 20%;
    left: 20%;
}
.slide .img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide .img img {
    width: 100%;
    height: auto;
}
.slide .info {
    z-index: 100;
}
.slide .info h1 {
    font-size: 70px;
    max-width: 550px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 80px;
    color: #fff;
}
.slide .info p {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin: 30px 0 50px;
    color: #ff7f47;
}
.btn-hero {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: #363b34;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
    z-index: 1;
}
.btn-hero:before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: #ff7f47;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    clip-path: circle(27% at -3% 50%);
    transition: all 0.3s ease-in;
    z-index: -1;
}
.btn-hero:hover:before {
    clip-path: circle(100%);
}
button.slide-controll {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    z-index: 100;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: solid white 1px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
button.slide-controll:hover {
    background-color: white;
    color: black;
}
.slide-next {
    right: 30px;
}
.slide-prev {
    left: 30px;
}
/* slide animation */
.trans-delay-0-2 {
    transition-delay: 0.2s;
}
.trans-delay-0-4 {
    transition-delay: 0.4s;
}

.trans-delay-0-6 {
    transition-delay: 0.6s;
}

.trans-delay-0-8 {
    transition-delay: 0.8s;
}

.top-down {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .top-down {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.right-left {
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .right-left {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.left-right {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slide.active .left-right {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}
/* end slide animation */
.blur {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
.form-container {
    position: relative;
    z-index: 10;
    margin-top: -40px;
}
.form-container .find-form {
    width: 65%;
    margin: 0 auto;
    padding: 2.5rem;
    background-color: rgba(34, 77, 64, 0.9);
    border-radius: 15px;
}
.form-container .find-form .row-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.col-form {
    width: 23%;
    max-width: 100%;
    padding: 15px 10px;
    background-color: #fff;
    border-radius: 7px;
}
.col-form input {
    width: 100%;
    outline: none;
    border: none;
}
.calender-input {
    display: flex;
}
.custom-select {
    width: 100%;
    position: relative;
}
.custom-select select {
    width: 100%;
    outline: none;
    border: none;
}
.col-form:last-child {
    background-color: #ff7f47;
}
.find-btn {
    width: 100%;
    text-align: center;
}
.find-btn a {
    color: #fff;
}
.find-btn i {
    margin-right: 6px;
    color: #fff;
}
.body {
    width: 100%;
    padding: var(--padding);
}
.body-top {
    text-align: center;
    max-width: 516px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.body-top h4 {
    color: #ff7f47;
    font-size: 1.5rem;
    font-weight: 500;
}

.body-top .title {
    font-size: 2.5rem;
    word-break: break-word;
    margin-top: 10px;
}

.body-middle {
    --columns: 3;
    --spacing: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.body-middle .item {
    width: calc(100% / var(--columns) - var(--spacing));
    margin-left: var(--spacing);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 30px rgb(17 17 17 / 8%);
    margin-bottom: var(--spacing);
}

.body-middle .item .item-top {
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
}

.body-middle .item .item-top img {
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}

.body-middle .item .item-top:hover > img {
    transform: scale(1.05);
}

.body-middle .item .item-main {
    width: 100%;
    flex: 1;
    text-transform: capitalize;
    padding: 20px;
}

.body-middle .item .item-main .item-main-top,
.body-middle .item .item-main .item-main-middle,
.body-middle .item .item-main .item-main-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.body-middle .item .item-main .item-main-top span {
    font-size: 1.5rem;
    font-weight: bold;
}

.body-middle .item .item-main .item-main-middle {
    justify-content: flex-start;
    margin: 20px 0;
    font-size: 1.4rem;
}

.body-middle .item .item-main .item-main-middle .location-icon {
    flex-shrink: 0;
}

.body-middle .item .item-main .item-main-middle h3 {
    margin-left: 10px;
    color: #ff7f47;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
}

.body-middle .item .item-main .item-main-bottom {
    justify-content: flex-start;
    font-size: 1.2rem;
}

.body-middle .item .item-main .item-main-bottom p {
    margin-left: 10px;
}

.body-middle .item .item-main .item-main-bottom .rating-star {
    color: #ff7f47;
}
.destination-area {
    padding-top: 120px;
}
.destination-area .container {
    width: 85%;
    margin: 0 auto;
}
.destination-area .row {
    display: flex;
    margin-bottom: 20px;
}
.destination-area .row .package-slider-wrap {
    flex: 0 0 auto;
    width: 25%;
    position: relative;
    height: 346px;
    margin-top: 20px;
    display: flex;
    height: 90.6%;
}
.destination-area .package-slider-wrap img {
    height: 100%;
    width: 96%;
    object-fit: cover;
}
.destination-area .package-slider-wrap .pakage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 96%;
    background: rgba(48, 79, 71, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination-area .package-slider-wrap .pakage-overlay strong {
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #fff;
}
.destination-area .des-slider {
    width: 75%;
}
.destination-area .destination-row {
    display: flex;
    padding: 0 5px;
    position: relative;
    height: 100%;
}
.destination-area .destination-row-right {
    display: flex;
    padding: 0 5px;
    position: relative;
}
.destination-area .package-card {
    margin: 20px 20px 0 0;
    box-shadow: none;
    border: 1px solid #eee;
    height: 428px;
}
.destination-area .package-card .package-thumb {
    overflow: hidden;
}
.destination-area .package-card .package-thumb img {
    width: 100%;
    transition: all 0.4s;
    display: block;
}
.destination-area .package-card .package-details {
    padding: 30px 20px;
}
.destination-area .package-card .package-details .package-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.destination-area .package-card .package-details .package-info h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #304f47;
}
.destination-area .package-card .package-details .package-info h5 span {
    font-size: 22px;
}
.destination-area .package-card .package-details h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #ff7f47;
    text-transform: capitalize;
    padding: 15px 0;
}
.destination-area .package-card .package-details h3 ion-icon {
    color: #304f47;
    font-size: 22px;
}
.destination-area .package-card .package-details h3 a {
    color: #ff7f47;
}
.destination-area .package-card .package-details .package-rating {
    display: flex;
}
.destination-area .package-card .package-details .package-rating ion-icon {
    font-size: 18px;
    color: #ff7f47;
    margin-right: 5px;
}
.destination-area .package-card .package-details .package-rating strong {
    font-weight: 700;
    font-size: 14px;
    color: #304f47;
    display: flex;
    align-items: center;
}
.destination-area .destination-row .nav-icon {
    position: absolute;
    top: 18%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: 0;
}
.destination-area .destination-row-right .nav-icon {
    position: absolute;
    top: 18%;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: 0;
}
.destination-area .destination-row .nav-icon.prev-icon {
    left: -26%;
}
.destination-area .destination-row .nav-icon.next-icon {
    left: -12%;
}
.destination-area .destination-row-right .nav-icon.prev-icon {
    right: -12%;
}
.destination-area .destination-row-right .nav-icon.next-icon {
    right: -24%;
}
.achievement-area {
    padding: 80px 0;
    margin-top: 100px;
    background: linear-gradient(rgba(245, 245, 245, 0.2) 100%, rgba(245, 245, 245, 0.2) 100%),
        url('./Public/Images/achiv-shape.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.achievement-area .container {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}
.achievement-area .container .achievement-cards {
    display: flex;
    flex-wrap: wrap;
}
.achievement-area .achievement-cards .achievement-card {
    padding: 30px 20px;
    margin: 0 10px;
    width: 23%;
    text-align: center;
    background: #304f47;
    color: #fff;
    box-shadow: 0 0 64px rgb(17 17 17 / 10%);
    border-radius: 10px;
    margin-top: 30px;
}
.achievement-area .achievement-cards .achievement-card .achievement-icon {
    margin-bottom: 30px;
}
.achievement-area .achievement-cards .achievement-card .achievement-icon i {
    font-size: 3rem;
    color: #fff;
}
.achievement-cards .achievement-card h3 {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #fff;
}
.review-area {
    margin-top: 120px;
}
.review-area .container {
    width: 90%;
    margin: 0 auto;
    padding: 0 1rem;
}
.review-area .container .review-slider {
    display: flex;
    flex-wrap: wrap;
}
.review-area .container .review-slider .review-card {
    padding: 30px 25px;
    margin: 20px 10px;
    text-align: center;
    -webkit-box-shadow: rgb(17 17 26 / 10%) 0 0 16px;
    box-shadow: rgb(17 17 26 / 10%) 0 0 16px;
    border-radius: 50px 50px 0 0;
}
.review-area .review-slider .review-card .reviewer-img img {
    height: 114px;
    width: 114px;
    border-radius: 50%;
    border: 8px solid rgba(48, 79, 71, 0.1);
    margin: 0 auto;
}
.review-area .review-slider .review-card .reviewer-info h3 {
    margin-top: 20px;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    text-transform: capitalize;
    color: #262339;
}
.review-area .review-slider .review-card .reviewer-info h5 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #a5a5a5;
    margin: 10px 0 22px;
}
.review-area .review-slider .review-card .reviewer-info p {
    width: 90%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 27px;
    color: #737679;
    font-family: sans-serif;
    margin-bottom: 0;
    letter-spacing: 2px;
}
.review-area .review-slider .owl-dots {
    text-align: center;
    width: 100%;
}
.review-area .review-slider .owl-dots button.owl-dot {
    height: 10px;
    width: 25px;
    background: #304f47;
    transition: all 0.3s;
    margin: 0 12.5px;
    border-radius: 5px;
    border: 0px solid rgb(255, 255, 255) !important;
    outline: none;
}
.review-area .review-slider .owl-dots button.owl-dot:hover,
.review-area .review-slider .owl-dots button.owl-dot.active {
    height: 15px;
    background: #ff7f47;
}
.feature-area {
    background: linear-gradient(rgba(48, 79, 71, 0.3) 100%, rgba(48, 79, 71, 0.4) 100%),
        url('./Public/Images/feature-bg-1.png') center no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px 0;
    margin: 130px 0;
}
.feature-area .container {
    width: 85%;
    margin: 0 auto;
}
.feature-area .container .feature-title {
    padding-bottom: 20px;
}
.feature-area .container .feature-title .title {
    color: #fff;
}
.feature-area .container .feature-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.feature-area .feature-cards .feature-card {
    max-width: 550px;
    display: flex;
    min-height: 200px;
    -webkit-box-shadow: 0 0 64px rgb(17 17 17 / 10%);
    box-shadow: 0 0 64px rgb(17 17 17 / 10%);
    border-radius: 10px;
    overflow: hidden;
}
.feature-area .feature-cards .feature-card .feature-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.feature-area .feature-cards .feature-card .feature-content {
    padding: 25px 30px;
    background-color: #fff;
}
.feature-area .feature-cards .feature-card .feature-content a {
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: #262339;
}
.feature-area .feature-cards .feature-card .feature-content h5 {
    margin: 12px 0 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #304f47;
    display: flex;
}
.feature-area .feature-cards .feature-card .feature-content h5 ion-icon {
    margin-right: 5px;
    color: #ff7f47;
    font-size: 14px;
}
.feature-area .feature-cards .feature-card .feature-content strong {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #ff7f47;
}
.feature-area .feature-cards .feature-card .feature-content strong span {
    color: #a5a5a5;
    margin-left: 10px;
    font-size: 18px;
    text-decoration: line-through;
}
.blog-area .container {
    width: 90%;
    margin: 0 auto;
}
.blog-area .container .blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.blog-area .container .blog-cards .blog-card {
    margin-top: 30px;
    -webkit-box-shadow: 0 0 30px rgb(17 17 17 / 8%);
    box-shadow: 0 0 30px rgb(17 17 17 / 8%);
    border-radius: 0 0 3px 3px;
    width: 30%;
}
.blog-area .blog-cards .blog-card .blog-img {
    position: relative;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
.blog-area .blog-cards .blog-card .blog-img img {
    width: 100%;
    object-fit: cover;
    transition: 0.2s linear;
}
.blog-area .blog-cards .blog-card .blog-img img:hover {
    transform: scale(1.05);
}
.blog-card .blog-img .blog-date {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 0 0 5px 5px;
    padding: 10px 20px;
    background: #304f47;
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
}
.blog-card .blog-img .blog-date ion-icon {
    color: #ff7f47;
    margin-right: 6px;
}
.blog-card .blog-details {
    padding: 25px 20px;
}
.blog-card .blog-details .blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog-card .blog-details .blog-info a {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #262339;
}
.blog-card .blog-details .blog-info a ion-icon {
    color: #ff7f47;
    margin-right: 5px;
    font-size: 16px;
}
.blog-card .blog-details .blog-title {
    margin: 20px 0;
}
.blog-card .blog-details .blog-title a {
    font-weight: 700;
    font-size: 23px;
    line-height: 30px;
    text-transform: capitalize;
    color: #262339;
    word-wrap: break-word;
}

/* data picker */
.date-picker {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-picker:hover {
    background-color: #f3f3f3;
}
.date-picker .date-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-picker .date-input .date-icon {
    margin-left: 25px;
    color: #313131;
}
.date-picker .selected-date {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #313131;
    font-size: 14px;
}

.date-picker .dates {
    width: 220px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    font-size: 12px;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 0 5px;
    padding-bottom: 5px;
    box-shadow: 0 0.125rem 0.3rem rgb(0 0 0 / 20%);
}

.date-picker .dates.active {
    display: block;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 16px;
}

.date-picker .dates .month .arrows:hover {
    background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
    background-color: #ff7f47;
}

.date-picker .dates .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 130px;
}
.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 10px;
    border: 0.5px solid rgb(233, 233, 233);
    transition: all 0.3s ease;
}
.date-picker .dates .days .day:hover {
    background-color: #ff7f47;
}
.date-picker .dates .days .day.selected {
    background-color: #ff7f47;
}

.calender-form {
    padding: 0;
}

/* custom selected box */

.custom-select select {
    box-shadow: 0 0 30px rgb(17 17 17 / 8%);
}
