* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.destination-area {
  padding: 120px 0;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.section-head {
  text-align: center;
  max-width: 516px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.section-head h5 {
  margin-bottom: 15px;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ff7f47;
}
.section-head h2 {
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-transform: capitalize;
}
.feature-area {
  background: linear-gradient(
      rgba(48, 79, 71, 0.3) 100%,
      rgba(48, 79, 71, 0.3) 100%
    ),
    url(../../Public/Images/feature-bg.png) center no-repeat;
  background-size: cover;
  margin-top: 120px;
  padding: 80px 0;
}
.feature-area .feature-container {
  width: 85%;
  margin: 0 auto;
}
.feature-area .feature-head {
  text-align: left;
  margin: inherit;
  margin-bottom: 40px;
}
.feature-head h5 {
  margin-bottom: 15px;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #ff7f47;
}
.feature-area .feature-head h2 {
  color: #fff;
  font-family: quicksand, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  text-transform: capitalize;
}
.feature-slider {
  display: flex;
}
.feature-card {
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;
  font-family: quicksand;
  cursor: pointer;
}
.feature-card .feature-thumb {
  position: relative;
  overflow: hidden;
}
.feature-card .feature-thumb img {
  width: 100%;
  transition: 0.3s ease-in;
  height: auto;
}
.feature-card .feature-thumb .feature-price {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #ff7f47;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}
.feature-card .feature-thumb .feature-price h5 {
  font-weight: 700;
  font-size: 25px;
  color: #fff;
}
.feature-card .feature-thumb .feature-price h5 span {
  font-size: 15px;
  color: #262339;
}
.feature-card .feature-details {
  padding: 20px;
  background: #fff;
}
.feature-card .feature-details h5.tour-duration {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 23px;
  color: #304f47;
}
.feature-card .feature-details h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #ff7f47;
  text-transform: capitalize;
  padding-top: 20px;
}
.feature-card .feature-details h3 a {
  color: #ff7f47;
}
.feature-card .feature-details h5.tour-duration ion-icon {
  margin-right: 5px;
}
.feature-card .feature-card-review {
  border-top: 1px solid #d8d8d8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 17px 20px;
  position: relative;
}
p {
  font-size: 16px;
  line-height: 27px;
  color: #737679;
  font-family: work sans, sans-serif;
  margin-bottom: 0;
}
.feature-card .feature-card-review ul.feature-rating {
  display: flex;
}
.feature-card .feature-card-review ul.feature-rating li {
  color: #ff7f47;
  margin-left: 7px;
}
.feature-card .feature-card-review .feature-btn {
  position: absolute;
  top: 0;
  left: 0;
  background: #304f47;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 25px;
  text-transform: capitalize;
  color: #fff;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}
.feature-card:hover .feature-btn {
  opacity: 1;
}
.feature-slider .nav-icon {
  position: absolute;
  right: 0;
  top: -20%;
  padding: 3px;
  font-size: 1.4rem;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 50%;
}
.feature-slider .nav-icon.prev-icon {
  margin-right: 50px;
}
.row {
  display: flex;
}
.row .package-slider-wrap {
  flex: 0 0 auto;
  width: 25%;
  position: relative;
  height: 90.6%;
  margin-top: 20px;
  display: flex;
}
.package-slider-wrap img {
  height: 100%;
  width: 96%;
  object-fit: cover;
}
.package-slider-wrap .pakage-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 96%;
  background: rgba(48, 79, 71, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-slider-wrap .pakage-overlay strong {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  color: #fff;
}
.slider {
  width: 75%;
}
.destination-row {
  display: flex;
  padding: 0 5px;
  position: relative;
  height: 100%;
}
.destination-row-right {
  display: flex;
  padding: 0 5px;
  position: relative;
}
.package-card {
  margin: 20px 20px 0 0;
  box-shadow: none;
  border: 1px solid #eee;
  height: 428px;
}
.package-card .package-thumb {
  overflow: hidden;
}
.package-card .package-thumb img {
  width: 100%;
  transition: all 0.4s;
  display: block;
}
.package-card .package-details {
  padding: 30px 20px;
}
.package-card .package-details .package-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.package-card .package-details .package-info h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #304f47;
}
.package-card .package-details .package-info h5 span {
  font-size: 22px;
}
.package-card .package-details h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #ff7f47;
  text-transform: capitalize;
  padding: 15px 0;
}
.package-card .package-details h3 ion-icon {
  color: #304f47;
  font-size: 22px;
}
.package-card .package-details h3 a {
  color: #ff7f47;
}
.package-card .package-details .package-rating {
  display: flex;
}
.package-card .package-details .package-rating ion-icon {
  font-size: 18px;
  color: #ff7f47;
  margin-right: 5px;
}
.package-card .package-details .package-rating strong {
  font-weight: 700;
  font-size: 14px;
  color: #304f47;
  display: flex;
  align-items: center;
}
.destination-row .nav-icon {
  position: absolute;
  top: 18%;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin: 0;
}
.destination-row-right .nav-icon {
  position: absolute;
  top: 18%;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  margin: 0;
}
.destination-row .nav-icon.prev-icon {
  left: -26%;
}
.destination-row .nav-icon.next-icon {
  left: -12%;
}
.destination-row-right .nav-icon.prev-icon {
  right: -12%;
}
.destination-row-right .nav-icon.next-icon {
  right: -24%;
}
@media screen and (max-width: 1023px) {
  .body {
    padding: calc(var(--padding) / 2);
    margin-left: 0;
  }
  .left-panel,
  .right-panel {
    width: calc(100% - var(--gap));
    /* width: calc(50% - var(--gap)); */
    margin-right: var(--gap);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .body {
    padding: 5px;
  }
}

.body .picture-slide {
  display: none;
}
